RewriteEngine On
RewriteBase /line-card-generator/
RewriteCond %{REQUEST_URI} ^/line-card-generator
RewriteRule ^line-card-generator(/.*)?$ http://127.0.0.1:8000$1 [P,L]

ProxyPassReverse /line-card-generator http://127.0.0.1:8000
